<?php

$configuration['player'] = "mplayer -endpos 5 \"%s\"";

$configuration['imap_mailbox'] = "ssl0.ovh.net:993/imap/ssl";
$configuration['imap_user'] = "toctok@noparking.net";
$configuration['imap_password'] = "*****";

$configuration['actions'] = array(
	'opentime' => array(
		'subject' => "",
		'body' => "/coucou/",
		'sound' => "/Users/perrick/Sites/toctok/medias/mp3/amclassical_satie_gymnopedie_no_1.mp3", 
	),
	'opentime' => array(
		'subject' => "",
		'body' => "/coucou/",
		'sound' => "/Users/perrick/Sites/toctok/medias/mp3/amclassical_satie_gymnopedie_no_1.mp3", 
	),
);